<p>view2 works!</p>

<form class="example-form2">
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="none here" type="number" value="123.45">
    </mat-form-field>

    <mat-form-field class="example-full-width2">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form>
<my-c2></my-c2>